<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
                <h3>Edit your Listing</h3>
                <br />
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"
                        required />
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"
                        required><%= listing.description %></textarea>
                    <div class="invalid-feedback">
                        Please Enter a short description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input name="listing[image][url]" value="<%= listing.image.url %>" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">
                        Please Enter a valid link for Image
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"
                            required />
                        <div class="invalid-feedback">
                            Price should be valid
                        </div>
                    </div>

                    <div class="mb-3 col-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"
                            required />
                        <div class="invalid-feedback">
                            Country should be valid
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">
                        Location should be valid
                    </div>
                </div>

                <button class="btn btn-dark mb-3 edit-btn">Edit</button>
            </form>
        </div>
    </div>